<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit</title>
  <link href="style.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<div class="grid">

<p>You don't have access to this page.</p>

  <form th:action="@{/plank}" method="GET">
    <input id="button" type="submit" value="back">
  </form>

</div>


<div id="logout">
  <form th:action="@{/logout}" method="GET">
    <input class="btn" id="upsidedown" type="submit" value="Log out">
  </form>

</div>


<script>
  function gone() {
    alert("User deleted")
  }
</script>
</body>
</html>
