<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link rel = "stylesheet" href="style.css">
</head>
<body>

<div>
    <h1 id="title">create new account</h1>
</div>
    <div id="main" class="grid">

        <form th:action="@{/saveUser}" th:object="${ussr}" method="GET">
          <input type="text" placeholder="Username" th:field="*{userName}">
          <input type="password" placeholder="Password" th:field="*{password}">
            <input type="text" placeholder="URL to image" th:field="*{image}">
          <input type="submit" value="Create account">
        </form>
        </div>

    <form th:action="@{/login}" method="GET">
      <input id="button-right" type="submit" value="Login">
    </form>


</body>
</html>

