
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Itim&display=swap');

body {
    background-color: coral;
    padding: 1px;
}

#title {
    position: center;
    font-family: 'Itim', cursive;
    font-size: 2cm;
    text-align: center;
    margin: 10px;
    z-index: 50;
}

#login {
    background-color: burlywood;
    font-family: 'Itim', cursive;
}

#mess {

    width: 400px;
    height: 90px;
}

#bord {
    position: relative;
    width: 400px;
    height: fit-content;
    background-color: antiquewhite;
    border-style: solid;
    border: aqua;
    font-size: large;
    margin: 10px;
}

#main {
    color: coral;
    background-color: bisque;
    position: center;
    top: 150px;
    margin: auto;
    width: 700px;
    height: fit-content;
    text-align: left;

}

.grid {
    display: grid;
    place-items: center;
}


#back {
    position: center;
    height: 150px;
    background-color: bisque;
    padding: 50px;
    padding-top: 20px;
}

#topright {
    text-align: right;
    z-index: 3;
}

#logout {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.legend2 {
    position: absolute;
    bottom: -7px;
    right: -7px;
    line-height:1.2em;

}

#imgplace {
    position: fixed;
    top: 25px;
    left: 25px;
    border-radius: 50%;
    z-index: 30;


    /* Animation to spin and move the sphere */
    -webkit-animation: spin 1000ms linear infinite, moveLeftToRight 10s linear infinite;
    -moz-animation: spin 1000ms linear infinite, moveLeftToRight 10s linear infinite;
    -ms-animation: spin 1000ms linear infinite, moveLeftToRight 10s linear infinite;
    animation: spin 5000ms linear infinite, moveLeftToRight 50s linear infinite;

    -webkit-transition: all 1s ease;
    transition: all 1s ease;

}

/* Spinning the sphere using key frames */
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* Move sphere from left to right
@-moz-keyframes moveLeftToRight {
    0%   { left: -150px; }
    100% { left: 100%; }
}
@-ms-keyframes moveLeftToRight {
    0%   { left: -150px; }
    100% { left: 100%; }
}
@keyframes moveLeftToRight {
    0%   { left: -150px; }
    100% { left: 100%; }
}
@-webkit-keyframes moveLeftToRight {
    0%   { left: -150px; }
    100% { left: 100%; }
}
*/




#button {
    background: transparent;
    font-family: 'Itim', cursive;
    font-size: medium;
}

#button-right {
    float: right;
}

